@media only screen and (max-width: 820px) and (min-width: 600px){
  #nav img{
    height: 55px;
    width: auto;;
  }
  #header img {
    width: 48px;
}
  #header div{
    font-size:1.5rem ;
  }
  main #explore_travel #inner_explore_travel h1{
    font-size: 2rem;
  }
  main #explore_travel #inner_explore_travel p {
    text-align: center;
    font-size: .7rem;
    font-weight: 200;
    width: 90%;
  }

}
@media only screen and (max-width: 1050px){
  .perfect-content {
    flex-direction: column;
}
}




@media only screen and (min-width: 600px) and (max-width: 900px) {
     
main #explore_travel #inner_explore_travel form #search-fields {
  flex-wrap: wrap;
}


iframe {
  width: 550px;
  height: 300px;
}
}

@media only screen and (max-width: 600px){
#body{
    width:auto;
}

    #mobile_mode{
    display: block;
    padding: 1rem;
    }
    #desktop_mode{
    display: none;
    }

    main #explore_travel{
    width: 100%;

}

    main #explore_travel #inner_explore_travel h1{
    font-size: 1.5rem;
}
    main #explore_travel #inner_explore_travel p{
    text-align: center;
    font-size: .7rem;
    font-weight: 200;
    width: 90%;
}
    main #explore_travel #inner_explore_travel form #search-fields{
    display: flex;
    flex-direction: column;
}
main #explore_travel #inner_explore_travel form #search-fields input{
    padding: 1rem 1.55rem 1rem 1rem;
    border-radius: 5px;
}

main #explore_travel #inner_explore_travel form #search-fields select{
    padding: 5px 300px 10px 15px;
    width: 100%;
}

  .perfect-content {
  flex-direction: column;
  align-items: center;
}


 iframe{
    width: 80vw;
    height: 300px;
  }

#newsletter {
    flex-direction: column;
}
#reasons_card{
    flex-direction: column;
    align-items: center;
}
.reasons_card{
    width: 90%;
}

#destination_merketing1, #destination_merketing2, #destination_merketing3{
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}
#maldivs{
    background-size: 1000px;

}
  .deal-card1,
  .deal-card2,
  .deal-card3 {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .deal-card2 {
    align-items: center;
    justify-content: flex-start;
  }
  .deal-card1,
  .deal-card3 {
    align-items: center;
    justify-content: flex-end;
  }
  .subcard {
    padding: 26px;
  }
}

@media only screen and (max-width: 950px){
    #popular_tour{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 992px) {
  .deal-card1,
  .deal-card2,
  .deal-card3 {
    padding: 40px;
  }

  .deal-card2 {
    align-items: center;
    justify-content: flex-start;
  }
  .deal-card1,
  .deal-card3 {
    align-items: center;
    justify-content: flex-end;
  }
  .subcard {
    padding: 35px;
  }
  
}


@media (min-width: 1200px) {
  .subcard {
    padding: 40px;
  }
}



@media (min-width: 992px) {
  .c1 {
    grid-column: 1 / 7;
    height: 300px;
  }
  .c2 {
    grid-column: 7 / -1;
    height: 300px;
  }
  .c3 {
    grid-column: 1 / 5;
    height: 286px;
  }
  .c4 {
    grid-column: 5 / 10;
    height: 286px;
  }
  .c5 {
    grid-column: 10 / -1;
    height: 286px;
  }
  .c6 {
    grid-column: 1 / 6;
    height: 300px;
  }
  .c7 {
    grid-column: 6 / -1;
    height: 300px;
  }
}
