:root{
    --primary_color: #FF5400;
    --element_width: 1170px;
    --text_black_color: #131318;
    --text-ash-color: #5A5A5D;
    --text-light-black: rgba(19, 19, 24, 0.70);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    
}
#body{
    background-color: #fff;
    width:90%;
    max-width: var(--element_width);
    margin: 0 auto;
}

#nav{
    display: flex;
}


header{
    width: 100%;
    max-width: var(--element_width);
    margin: 2rem auto 0 auto;
}

header div ul li{
    list-style-type: none;
    font-size: 1.1rem;

}

header div ul{
    display: flex;
    gap: 1rem
}

header div ul li:first-child{
    color: var(--primary_color, #FF5400);
    
}

#header{
    display: flex;
    gap: 1rem;
    width: (calc--element_width);
    align-items: center;
    justify-content: space-between;
}

#header img{
    width: 48px;
}

#header div{
    font-size: 2.2rem;
    font-weight: 800;
    margin-left: 1rem;
}


main{
    width: 100%;
    max-width: var(--element_width);
}


main #explore_travel{
    background-image: url("../../assset/imeges/Group_13.png");
    border-radius: 16px;
    border-radius: 1rem;
    margin: 3rem auto 5rem auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: var(--element_width);
    height: 500px;

}

main #explore_travel #inner_explore_travel{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    z-index: 100;
}

main #explore_travel #inner_explore_travel h1{
    font-size: 4rem;
}
main #explore_travel #inner_explore_travel p{
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    width: 50%;
    margin: 1rem auto 2rem auto;
}

main #explore_travel #inner_explore_travel form{
    background-color: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    border-radius: 5px
}

main #explore_travel #inner_explore_travel form #search-fields{
    display: flex;
    gap: 1.2rem
}

main #explore_travel #inner_explore_travel form #search-fields input{
    padding: 1rem 2rem 1rem 1rem;
    border:none;
    border-radius: 8px;
    outline: none;
}
main #explore_travel #inner_explore_travel form #search-fields select{
    padding: 1.2rem 4rem 1rem 1rem;
    height: 60px;
    border:none;
    color:rgba(19, 19, 24, 0.50);
    appearance: none;
    border-radius: 8px;
    outline: none;
    
}
.dropdown{
    position: relative;
}
.dropdown span{
    position: absolute;
    top:17px;
    right:10px;
    font-size: 2rem;
    color:rgba(19, 19, 24, 0.50);
}

main #explore_travel #inner_explore_travel form #search-fields button{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    background-color: var(--primary_color);
    border: none;
    outline: none;
    border-radius: 8px;
}

#popular_tour{
    display: flex;
    gap: 1rem;
    align-items: center;
}
#popular_tour div h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text_black_color, black);
    margin-bottom: 1.3rem;
}
#popular_tour div ul li,#popular_tour div p,#popular_tour div ul{
    margin-top: 1.2rem;
    width: 80%;
}

#popular_tour div img{
    height: 100%;
    object-fit: cover;
}


#read_btn{
    color:white;
    background-color: var(--primary_color, orange);
    border:none;
    outline: none;
    border-radius: 8px;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 2rem;
}
#destination_merketing1, #destination_merketing2, #destination_merketing3{
    display: flex;
    gap:1.2rem;
    margin-top: 1.2rem;
    grid-template-columns: repeat(46, 1fr);
    grid-template-rows: 300px 286px 300px;
}

#destination h3{
    font-size: 2.5rem;
    color: var(--text_black_color, black);
    text-align: center;
    margin: 5rem auto 1.5rem auto;

}

#destination p{
    margin: 0 auto;
    text-align:center;
    width:50%;
    max-width: 670px;
}

#maldivs{
    display: flex;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
    color: white;
    width: 573px;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../imeges/Rectangle5.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 16px;
}
#indonesia{
    display: flex;
    grid-column: 2/-1;
    align-items: center;
    justify-content: center;
    color: white;
    width: 573px;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../imeges/Rectangle_8.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 16px;
}
#srilanka{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 374px;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../imeges/Rectangle6.png);
    background-repeat: no-repeat;
    height: 286px;
    border-radius: 16px;
}
#north_america{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 474px;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../imeges/Rectangle7.png);
    background-repeat: no-repeat;
    height: 286px;
    border-radius: 16px;
}
#kashmir{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 274px;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../imeges/Rectangle_9.png);
    background-repeat: no-repeat;
    height: 286px;
    border-radius: 16px;
}
#bangladesh{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 473px;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../imeges/Rectangle_11.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 16px;
}

#bandarban{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 673px;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../imeges/Rectangle_10.png);
    background-repeat: no-repeat;
    height: 300px;
    object-fit: fill;
    border-radius: 16px;
}


#choose_reason h2{
    color: var(--text_black_color, black);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: 5rem auto 2rem auto;
}

#choose_reason p{
    color: var(--text-light-black, black);
    width: 80%;
    text-align:left;
    margin: 0 auto 2.5rem auto;
    font-size: 1rem;
}
#choose_reason #reasons_card .reasons_card p{
    text-align: left;
    margin-left: 2rem;;
}

#reasons_card{
    display: flex;
    justify-content: center;
    gap: 2vw;
    
}

.reasons_card{
    width: 45%;
    margin-bottom: 1rem;
    padding: 2rem 0;
    text-align: left;
    border-radius: 8px;
    
}

#reasons_card .first_card{
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
}
#reasons_card .second_card{
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);
}
.third_card{
    margin: 0 auto 4rem auto;
    background-color: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.20);
    
}

.third_card p{
    text-align: left;
}

.choose_heading img{
    height: 64px;
    width: 64px;
    margin-left: 2rem;
}

.reasons_card .heading{
    color: var(--text_black_color, black);
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem 0 1rem 2rem;
} 

#form{
    border: 1px solid var(--primary_color);
    border-radius: 16px;
    width: 40%

}

#newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#form{
    width:100%;
    padding: 50px;
}

#newsletter #form h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 800;
    color:var(--text_black_color);
}
#newsletter #form hr{
    margin: 1.5rem auto 1.5rem auto;
    border: 1px solid rgba(19, 19, 24, 0.10);
}

#newsletter p{
    font-family: 1rem;
}

#newsletter #form input{
    color:rgba(19, 19, 24, 0.30);
    background-color: rgba(19, 19, 24, 0.05);
    border: none;
    outline: none;
    width: 90%;
    padding: 1rem 0 1rem 1.5rem;
    margin: 1rem auto 0 auto;
    border-radius: 8px;
}

#newsletter #form input[type="button"]{
    background-color: var(--primary_color);
    color: white;
    font-weight: 800;
    font-size: 1.2rem
}

#disc{
 position: relative;
}
#disc div{
 position: absolute;
 top: 322px;
 right: 5px;
 z-index: 500;
 color: white;
 background-color: var(--primary_color, orange);
 border-radius: 8px;
 rotate: 20;
 transform: rotate(-19.628deg);
 text-align: center;
}

#disc div p{
    padding-top: 1rem;
}
#disc div h3{
    padding: 0 1.5rem .8rem 1.5rem;
}

