:root{
    --primary_color: #FF5400;
    --element_width: 1170px;
    --text_black_color: #131318;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #fff;
    width:90%;
    max-width: var(--element_width);
    margin: 0 auto;
}

#nav{
    display: flex;
}


header{
    width: 100%;
    max-width: var(--element_width);
    margin: 2rem auto 0 auto;
}

header div ul li{
    list-style-type: none;
    font-size: 1.1rem;

}

header div ul{
    display: flex;
    gap: 1rem
}

header div ul li:first-child{
    color: var(--primary_color, #FF5400);
    
}

#header{
    display: flex;
    gap: 1rem;
    width: (calc--element_width);
    align-items: center;
    justify-content: space-between;
}

#header img{
    width: 48px;
}

#header div{
    font-size: 2.2rem;
    font-weight: 800;
    margin-left: 1rem;
}


main{
    width: 100%;
    max-width: var(--element_width);
}


main #explore_travel{
    background-image: url("../../assset/imeges/Group_13.png");
    border-radius: 16px;
    border-radius: 1rem;
    margin: 3rem auto 5rem auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: var(--element_width);
    height: 500px;

}

main #explore_travel #inner_explore_travel{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    z-index: 100;
}

main #explore_travel #inner_explore_travel h1{
    font-size: 4rem;
}
main #explore_travel #inner_explore_travel p{
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    width: 50%;
    margin: 1rem auto 2rem auto;
}

main #explore_travel #inner_explore_travel form{
    background-color: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    border-radius: 5px
}

main #explore_travel #inner_explore_travel form #search-fields{
    display: flex;
    gap: 1.2rem
}

main #explore_travel #inner_explore_travel form #search-fields input{
    padding: 1rem 2rem 1rem 1rem;
    border:none;
    border-radius: 8px;
    outline: none;
}
main #explore_travel #inner_explore_travel form #search-fields select{
    padding: 1.2rem 4rem 1rem 1rem;
    height: 60px;
    border:none;
    color:rgba(19, 19, 24, 0.50);
    appearance: none;
    border-radius: 8px;
    outline: none;
    
}
.dropdown{
    position: relative;
}
.dropdown span{
    position: absolute;
    top:17px;
    right:10px;
    font-size: 2rem;
    color:rgba(19, 19, 24, 0.50);
}

main #explore_travel #inner_explore_travel form #search-fields button{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    background-color: var(--primary_color);
    border: none;
    outline: none;
    border-radius: 8px;
}

#popular_tour{
    display: flex;
    gap: 1rem;
    align-items: center;
}
#popular_tour div h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text_black_color, black);
    margin-bottom: 1.3rem;
}
#popular_tour div ul li,#popular_tour div p,#popular_tour div ul{
    margin-top: 1.2rem;
    width: 80%;
}

#popular_tour div img{
    height: 100%;
    object-fit: cover;
}
#reasons_card{
    display: flex;
    gap: 2vw;
}

.reasons_card{
    width: 39%;
    margin-bottom: 1rem
}

#reasons_card .first_card{
    background-color: rgba(251, 181, 99, 0.05);
}
#reasons_card .second_card{
    background-color: rgba(41, 206, 246, 0.05);
}
.third_card{
    margin: 0 auto 4rem auto;
    background-color: rgba(233, 68, 68, 0.05);
    
}

#read_btn{
    color:white;
    background-color: var(--primary_color, orange);
    border:none;
    outline: none;
    border-radius: 8px;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 2rem;
}